/* body{
    background-color: black;
} */
/* #track {
    background-color: goldenrod;
    height: 200px;
    width: 400px;
} */

body {
    height: 200px;
    background: beige;
}
.dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    position: absolute;
    background-color: teal;
}
